<% include ../partials/boilerplate %>
<% include ../partials/nav %>



<form method='POST' action='/musics/<%= data.id %>?_method=PUT'>
 <input type='text' name='mood' value='<%= data.mood %>' />
  <input type='text' name='title' value='<%= data.title %>' />
  <input type='text' name='artist' value='<%= data.artist %>' />

  <input type='text' name='genre' value='<%= data.genre %>' />

  <input type='submit' value='Edit it!' />
</form>

<% include ../partials/end %>


